@model WebApp_MyDiary.Models.Diary

@{
    ViewData["Title"] = "Result";
}

<div id="bodycontent">
    <h1>일기</h1>
    <h4>Diary</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.No)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.No)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Content)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Content)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Date)
        </dd>
    </dl>
    <div class="text-lg-end">
        <button type="button" onclick="location.href='/Home/Edit/@Model?.No'" class="btn btn-outline-dark">수정</button>
        <button type="button" onclick="location.href='/Home/Index'" class="btn btn-outline-primary">목록</button>
    </div>
</div>

